Cython==0.29.20
flatbuffers==1.12
gin-config==0.1.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.27.2
h5py==2.10.0
idna==2.9
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.1.1
matplotlib==3.2.2
#mkl-fft==1.1.0
#mkl-random==1.1.1
#mkl-service==2.3.0
numpy==1.17.1
opt-einsum==3.1.0
Pillow==7.1.2
promise==2.3
protobuf==3.12.4
pybind11==2.5.0
pycocotools==2.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.4.1
sentencepiece==0.1.92
#six==1.15.0
tensorboard==1.15.0
tensorflow==2.3.1
tensorflow-addons==0.10.0
tensorflow-core==0.0.0.post2
tensorflow-estimator==1.15.1
tensorflow-gpu==2.7.2
tensorflow-hub==0.8.0
tensorflow-metadata==0.21.1
tf-slim==1.1.0
tflite-support==0.1.0a1
tqdm==4.46.1
pathlib
